#details{
    display: flex;
}
#text{
    width: 50%;
    /* border: 2px solid red; */
}

#pic{
    width: 10%;
    height: 10%;
}
#link-tray{
    display: flex;
    /* justify-content:; */
}

#github,#linkedin{
    width:30px;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    margin: 12px;
}

#github:hover,#linkedin:hover{
    background-color: #5B079D;
}
