#about-main{
    margin-top: 30px;
}

#me-details{
    display: flex;
    padding-top: 25px;
}
#text{
    width: 60%;
    /* border: 2px solid red; */
}

#pic{
    width: 15%;
    height: 15%;
}
#link-tray{
    display: flex;
    /* justify-content:; */
    /* border: 2px solid white; */
    width: 16%;
    align-items: baseline;
}

#github,#linkedin{
    width:30px;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    margin: 12px;
}

#github:hover,#linkedin:hover{
    background-color: #5B079D;
}
