#index-main{
  border: 1px solid white;
  border-radius: 13px;
  /* width: 25%;
  max-width: auto; */
  /* position: fixed;
  top: 80px;
  left: 50px; */
}
#tab{
  /* position: absolute; */
  /* left: 20px; */
  padding-left: 20px;
  margin-top:4px;
  margin-bottom : 4px;
  cursor: pointer;
}
#tab:hover{
  /* background-color: white; */
  color: darkorange;
  transform: scale(1.09);
  transition: transform .5s .1s, color .5s .1s, background-color .5s .1s;
}

#tab a{
}
