#skills-list{
    margin-top: 10px;
    margin-bottom: 70px;

}

#skills-main{
    margin-top: 16px;
}

#skill:hover{
    color: darkorange;
    transform: scale(1.03);
    transition: transform .5s .1s, color .5s .1s, background-color .5s .1s;
}