#main-page{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: flex-end; */
}

hr{
  width: 80%;
  margin-top: 10px;
}

#content{
  position: absolute;
  left: 500px;
}
